<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/kadoo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kadoo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kadoin"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Kadoin.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Kadoin.NoActionBar" />
        <activity
            android:name=".ui.auth.SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.Kadoin.NoActionBar" />
        <activity
            android:name=".ui.onboarding.MomentActivity"
            android:exported="false"
            android:theme="@style/Theme.Kadoin.NoActionBar" />
        <activity
            android:name=".ui.onboarding.RelationshipActivity"
            android:exported="false"
            android:theme="@style/Theme.Kadoin.NoActionBar" />
        <activity
            android:name=".ui.onboarding.BudgetActivity"
            android:exported="false"
            android:theme="@style/Theme.Kadoin.NoActionBar" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Kadoin.NoActionBar" />
        <activity
            android:name=".ui.product.ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Kadoin.NoActionBar" />
    </application>

</manifest>